In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import os

def create_folder(folder_path):
    try:
        os.makedirs(folder_path)
        print(f"Folder '{folder_path}' created successfully.")
    except FileExistsError:
        print(f"Folder '{folder_path}' already exists.")
    except Exception as e:
        print(f"An error occurred while creating the folder: {str(e)}")

# Usage example
folder_path = "/content/Car_Dataset"  # Provide the desired folder path here
create_folder(folder_path)

Folder '/content/Car_Dataset' created successfully.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip '/content/drive/MyDrive/Car_price.zip' -d '/content'

Archive:  /content/drive/MyDrive/Car_price.zip
  inflating: /content/test.csv
  inflating: /content/train.csv

In [ ]:
!mv '/content/test.csv' '/content/Car_Dataset'
!mv '/content/train.csv' '/content/Car_Dataset'

mv: cannot stat '/content/test.csv': No such file or directory
mv: cannot stat '/content/train.csv': No such file or directory

In [ ]:
df = pd.read_csv('/content/Car_Dataset/train.csv')
df_test = pd.read_csv('/content/Car_Dataset/test.csv')

In [ ]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [ ]:
#Removing km from mileage for cleaning purposes
df['Mileage'] = pd.to_numeric(df.Mileage.str.split(' ').str[0], downcast='float')

In [11]:
df['Mileage'] = np.where(df['Mileage'] == 0.0,df['Mileage'].mean(),df['Mileage'])

In [12]:
df['Doors'] = np.where((df['Doors'] == '04-May') | (df['Doors'] == '02-Mar'), df['Doors'].str.split('-').str[0],df['Doors'])

In [13]:
df['Doors'].unique()

array(['04', '02', '>5'], dtype=object)

In [14]:
df['Levy'].unique()
df['Levy'] = pd.to_numeric(df['Levy'].replace('-', '0'), downcast='float')

In [15]:
df['Levy'] = np.where(df['Levy'] == 0.0,df['Levy'].mean(),df['Levy'])

In [16]:
df['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [17]:
df['Engine volume'] = pd.to_numeric(df['Engine volume'].str.split(' ').str[0], downcast='float')

In [18]:
df['Engine volume']=np.where(df['Engine volume'] == 0.0,df['Engine volume'].mean(),df['Engine volume'])

In [19]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04,Left wheel,Silver,12
1,44731507,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000.0,6.0,Tiptronic,4x4,04,Left wheel,Black,8
2,45774419,8467,632.528687,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04,Right-hand drive,Black,2
3,45769185,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04,Left wheel,White,0
4,45809263,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04,Left wheel,Silver,4

In [20]:
X = df[['Category','Leather interior','Fuel type','Engine volume','Mileage','Cylinders','Gear box type','Drive wheels','Doors','Wheel','Color','Airbags','Model','Manufacturer','Prod. year']]

In [21]:
X

,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Model,Manufacturer,Prod. year
0,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04,Left wheel,Silver,12,RX 450,LEXUS,2010
1,Jeep,No,Petrol,3.0,192000.0,6.0,Tiptronic,4x4,04,Left wheel,Black,8,Equinox,CHEVROLET,2011
2,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04,Right-hand drive,Black,2,FIT,HONDA,2006
3,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04,Left wheel,White,0,Escape,FORD,2011
4,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04,Left wheel,Silver,4,FIT,HONDA,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,Coupe,Yes,CNG,2.0,300000.0,4.0,Manual,Rear,02,Left wheel,Silver,5,CLK 200,MERCEDES-BENZ,1999
19233,Sedan,Yes,Petrol,2.4,161600.0,4.0,Tiptronic,Front,04,Left wheel,Red,8,Sonata,HYUNDAI,2011
19234,Jeep,Yes,Diesel,2.0,116365.0,4.0,Automatic,Front,04,Left wheel,Grey,4,Tucson,HYUNDAI,2010
19235,Jeep,Yes,Diesel,2.0,51258.0,4.0,Automatic,Front,04,Left wheel,Black,4,Captiva,CHEVROLET,2007
19236,Sedan,Yes,Hybrid,2.4,186923.0,4.0,Automatic,Front,04,Left wheel,White,12,Sonata,HYUNDAI,2012

In [22]:
y=df['Price']

In [23]:
df = df.drop(['Price'],axis=1)
df_test=df_test.drop(['Price'],axis=1)

In [ ]:
X.shape

(19237, 15)

In [24]:
y.shape

(19237,)

In [66]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the columns to be encoded, scaled
categorical_cols = ['Category', 'Leather interior', 'Fuel type', 'Wheel', 'Doors',
                    'Drive wheels', 'Gear box type', 'Color', 'Model', 'Manufacturer']
numeric_cols = ['Engine volume','Mileage', 'Airbags', 'Cylinders']

# Create the preprocessing pipeline for training data
preprocessor = ColumnTransformer([
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols),
    ('num', StandardScaler(), numeric_cols)
])

In [73]:
X_test.shape

(3848, 15)

In [74]:
X_train.shape

(15389, 15)

In [75]:
y_train.shape

(15389,)

In [76]:
y_test.shape

(3848,)

In [71]:
# Preprocess the training data
X_train_preprocessed = preprocessor.fit_transform(X_train)
print(f"The shape of X_train_preprocessed is: {X_train_preprocessed.shape}")

# Create the linear regression model
model = LinearRegression()

# Create the pipeline
pipe = make_pipeline(preprocessor, model)

# Fit the pipeline to the training data
pipe.fit(X_train, y_train)

# Preprocess the test data
X_test_preprocessed = preprocessor.transform(X_test)
print(f"The shape of X_test_preprocessed is: {X_test_preprocessed.shape}")

The shape of X_train_preprocessed is: (15389, 1518)
The shape of X_test_preprocessed is: (3848, 1518)

In [ ]:
from sklearn.metrics import r2_score 
# Predict on the test data
y_pred = pipe.predict(X_test_preprocessed)

In [80]:
r2_score(y_test,y_pred)

-4.774427656009009

In [81]:
from sklearn.metrics import mean_squared_error

y_pred = pipe.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 1799292109.3395011